@import '../mixin';

.body-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__top {
        flex: 0 0 rem(60px);
        background-color: red;
    }

    &__bottom {
        flex: 1;
        flex: 1 1;
        display: flex;
        justify-content: center;
    }
}