// COLORS.
$color-gray-light-1: #B6B6B6;
$color-gray-light-2: #E0E0E0;
$color-gray-light-3: #BDBDBD;
$color-gray-light-4: #f9f8f8;
$color-gray-dark-1: #787A7C;
$color-blue-light-1: #00B4CD;
$color-blue-light-2: #86D9BC;
$color-blue-light-3: #527DA4;
$color-blue-dark-1: #0F284C;

$color-white: #fff;
$color-black: #000;
$color-alert: #dc3545;
$color-green: #32de84;

// FONT
$default-font-size: 1.6rem;